<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
      <div class="sidenav" id="myDIV" [ngStyle]="styleObject()" >
          <div class="nav-container"  >
         
              <div class="link_container" routerLinkActive="active-link"  (click)="ShowTable()">
        
           
              <div class="img_container">
                <img src="/assets/people-24px.svg">
                <a  >
                  {{ "USERS" | translate}}
                </a>
              </div>
              </div>
              <hr class="divider" >
              <div  class="link_container"  routerLinkActive="active-link"  (click)=" logout()">
        
      
                <div class="img_container">
                  <img src="/assets/baseline-lock-24px.svg">   <a  >{{'LOGOUT'| translate}}</a>
                </div>
                </div>
          </div>
         
        </div>
       

     
    <div [ngStyle]="stylecardarabic()" id="card-container" *ngIf="this.showUsers">
 <div style="display: flex;justify-content: center;margin-bottom: 30px">
    <select style="width: 330%" class="form-control" id="sel1" #select (change)="changeLangage(select.value)">
        <option selected>select language</option>
        <option value="ar">عربي</option>
        <option value="en">english</option>
      </select>
 </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th> {{"USERNAME" | translate}}</th>
                  <th>{{"USERPHONE" | translate}}</th>
                  <th>{{"USERIMAGE" | translate}}</th>
                  <th>{{"USEREMAIL" | translate}}</th>
                  <th>{{"EDITUSER" | translate}}</th>
                  <th>                      <button class="btn" (click)="addNewUser()"><i class="fa fa-plus" aria-hidden="true" ></i> 
                    {{"AddUser" | translate}}</button>
                  </th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users; let i=index">
                  <td>
                    {{i+1}}
                  </td>
                  <td>{{user.name}}</td>
                  <td>{{user.phone}}</td>
                  <td>   
                             <img *ngIf="user.image !=''" [src]="user.image" class="img-style"  />
                             <img *ngIf="user.image ==''" src="/assets/avatar.png" class="img-style"  />

                  </td>
                  <td>{{user.email}}</td>
                  <td>
                      <button class="btn" (click)="openEditDialog(user)"><i class='fas fa-pen'></i>{{"EDIT"|translate}} </button> &nbsp;
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
  
  </body>
  
  